<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

       <div>
         <h1><p th:text="${message}"></p></h1>
         <li><a href="/astroport" id="astroport-name">astropot</a></li>
           <li><a href="/minasminweeper" id="título">minasminweeper</a></li>
         <li><a href="/contactme" id="contact-me-link">Contact Me</a></li>
         <li><a href="https://bbarata.herokuapp.com/ping" id="ping-challenge-link"> implementacao </a></li>
         <li><a id="repository-link" href="https://github.com/BarataEstevao/LES_2020">repository</a></li>
       </div>
</body>
</html>