<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1 id="title">Minesweeper</h1>
<label for="suspect-mode">Suspect Mode</label><input type="checkbox" id="suspect-mode" />
<table id="minesweeper-table" class="minesweeper">
    {{#each cells}}
    <tr>
        {{#each this}}
        <td id="{{this}}">&nbsp;</td>
        {{/each}}
    </tr>
    {{/each}}
</table>

<script type="text/javascript">
    (
        function init(){
            var size = 8;
            var grid = [];
            for(var y = 0; y < size; y++){
                grid.push([]);
                for(var x = 0; x < size; x++){
                    var cellValue = Math.random() < 0.15 ? 'bomb' : 'empty';
                    grid[y].push(cellValue);
                }
            }

            document.grid = grid;
            load();
        })();

    function load(){
        var soluceGrid = getSoluceGrid(document.grid);
        var table = document.getElementById("minesweeper-table");
        table.onclick = function(event){
            gridClicked(event, table, soluceGrid);
        };
    }

    function gridClicked(event, table, soluce){
        event = event || window.event;
        var target = event.target || event.srcElement;

        while(target != table) {
            if (target.nodeName == 'TD') {
                reveal(target, soluce);
            }
            target = target.parentNode;
        }
    }

    function getPosition(cell){
        var currentPosition = cell.id.split("-")[1].split("x");
        var currentLineIndex = parseInt(currentPosition[0]) - 1;
        var currentCellIndex = parseInt(currentPosition[1]) - 1;

        return {
            x: currentCellIndex,
            y: currentLineIndex
        };
    }

    function getSoluceGrid(sourceGrid){
        var soluceGrid = [];

        for(var rowIndex in sourceGrid)
        {
            var lineIx = parseInt(rowIndex);
            soluceGrid.push([]);
            for(var cellIndex in sourceGrid[lineIx])
            {
                var cellIx = parseInt(cellIndex);
                var position = {
                    y: lineIx,
                    x: cellIx
                };

                soluceGrid[position.y].push(getSoluceValue(sourceGrid, position));
            }
        }

        return soluceGrid;
    }

    function getSoluceValue(grid, position){
        var gridSize = {
            width: grid[0].length,
            height: grid.length
        };

        if(grid[position.y][position.x] == "bomb")
            return "X";

        var value = 0;
        applyOnNeighbourgs(position, gridSize, function(neighbourgPosition){
            if(grid[neighbourgPosition.y][neighbourgPosition.x] == "bomb")
                value++;
        });
        return value;
    }

    function applyOnNeighbourgs(cellPosition, gridSize, apply){
        for(var y = -1; y <= 1; y++){
            for(var x = -1; x <= 1; x++){
                var isCurrent = (y == 0) && (x == 0);
                if (!isCurrent){
                    var neighbourgLine = cellPosition.y + y;
                    var neighbourgCell = cellPosition.x + x;

                    var isInTable = neighbourgLine >= 0
                        && neighbourgCell >= 0
                        && neighbourgLine < gridSize.height
                        && neighbourgCell < gridSize.width;

                    if(isInTable){
                        apply({x: neighbourgCell, y: neighbourgLine});
                    }
                }
            }
        }
    }

    function getCell(position){
        return document.getElementById("cell-"+ (position.y+1) +"x"+ (position.x+1));
    }

    function reveal(cell, soluceGrid){
        var gridSize = {
            width: soluceGrid[0].length,
            height: soluceGrid.length
        };
        var position = getPosition(cell);
        var value = soluceGrid[position.y][position.x];
        var isSuspectMode = document.getElementById("suspect-mode").checked;
        if (isSuspectMode){
            cell.setAttribute("class", "suspect");
        } else {
            if (value == "X"){
                cell.setAttribute("class", "lost");

            }else{
                cell.setAttribute("class", "safe");
                if(parseInt(value) > 0){
                    cell.innerHTML = value;
                }else{
                    cell.innerHTML = "";

                    applyOnNeighbourgs(position, gridSize, function(neighbourgPosition){
                        var current = getCell(neighbourgPosition);
                        if(!current.getAttribute("class"))
                            reveal(current, soluceGrid);
                    });
                }
            }
        }
    }
</script>
</body>
</html>