<h1 id="title">Prime Factors</h1>
<form action="/primeFactors/ui" method="POST">
	<label id="invitation" for="number">Input a number to obtain the prime factors.</label>
	<input id="number" name="number" type="text" class="u-full-width" placeholder="Set a number..." />
	<button id="go" type="submit" class="button-primary">Calculate</button>
	<div id="result">{{#if result}}{{result}}{{/if}}</div>
	<ol id="results">
		{{#each results}}
		<li>{{.}}</li>
		{{/each}}
	</ol>
	<pre>Previous decomposition : <code id="last-decomposition">{{previousDecomposition}}</code></pre>
</form>